---
import { Image } from 'astro:assets';

interface Props {
	label: string;
	iconUrl?: ImageMetadata;
	backgroundColor?: string;
	borderColor?: string;
	textColor?: string;
	fullWidth?: boolean;
}

const {
	label,
	iconUrl,
	backgroundColor = 'bg-coral-red',
	borderColor = 'border-coral-red',
	textColor = 'text-white',
	fullWidth = false,
}: Props = Astro.props;
---

<button
	class={`flex justify-center items-center gap-2 px-7 py-4 font-montserrat text-lg leading-none ${backgroundColor} border rounded-full ${textColor} ${borderColor} ${fullWidth && 'w-full'}`}>
	{label}
	{iconUrl && <Image src={iconUrl} alt='arrow icon' class='ml-2 rounded-full size-5' />}
</button>
