---
import { Image } from 'astro:assets';
import { headerLogo } from '../assets/images';
import { hamburger } from '../assets/icons';
import { navLinks } from '../constans';
---

<header class='padding-x py-8 absolute z-10 w-full'>
	<nav class='flex justify-between items-center max-container'>
		<a href='/'> <Image src={headerLogo} alt='logo' width={130} height={29} /></a>
		<ul class='flex flex-1 justify-center items-center gap-16 max-lg:hidden'>
			{
				navLinks.map((link) => (
					<li data-id={link.label}>
						<a
							href={link.href}
							class='font-montserrat leading-normal text-lg text-slate-gray'>
							{link.label}
						</a>
					</li>
				))
			}
		</ul>
		<div class='hidden max-lg:block'>
			<Image src={hamburger} alt='hamburger' width={25} height={25} />
		</div>
	</nav>
</header>
